h1{
    text-align: center;
    font-size: 100px;
    background-color: blueviolet;
}

div{
    background-color: azure;
}
h2{
    font-size: 55px;
    margin: 20px;
   padding: 20px;
}
p{
    color: brown;
    font-size: 33px;
    background-color: rgb(6, 26, 46);
    padding: 20px;
    margin: 10px;
    text-shadow: cornflowerblue;
}
#education{
    padding: 20px;
    margin: 10px;
    font-size: 40px;
    background-color: darkviolet;
}
li{
    font-size: 30px;
    padding: 20px;
    margin: 10px;
    background-color: dimgray;
}
